featureExtraction/train_info.csv
featureExtraction/.train_info.csv.swp
.DS_Store
*MACOS*
*/.ipynb*
train.zip
train/*
replacements_for_corrupted_files/*
replacements_for_corrupted_files.zip
train_info.csv
